@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {

  --color-grey: #f5f5f5;
  
  --color-primary-light-1: #f1f7f9;
  --color-primary-light-2: #e3eff2;
  --color-primary-light-3: #d5e8ec;
  --color-primary-light-4: #c7e0e5;
  --color-primary-light-5: #bad8df;
  --color-primary-light-6: #acd0d8;
  --color-primary-light-7: #9ec8d2;
  --color-primary-light-8: #90c1cb;
  --color-primary-light-9: #82b9c5;
  --color-primary: #74b1be;
  --color-primary-dark-1: #689fab;
  --color-primary-dark-2: #5d8e98;
  --color-primary-dark-3: #517c85;
  --color-primary-dark-4: #466a72;
  --color-primary-dark-5: #3a595f;
  --color-primary-dark-6: #2e474c;
  --color-primary-dark-7: #233539;
  --color-primary-dark-8: #172326;
  --color-primary-dark-9: #0c1213;

  --color-secondary-light-1: #eaebec;
  --color-secondary-light-2: #d5d6d9;
  --color-secondary-light-3: #c1c2c6;
  --color-secondary-light-4: #acadb3;
  --color-secondary-light-5: #9799a0;
  --color-secondary-light-6: #82848d;
  --color-secondary-light-7: #6d707a;
  --color-secondary-light-8: #595b67;
  --color-secondary-light-9: #444754;
  --color-secondary: #2f3241;
  --color-secondary-dark-1: #2a2d3b;
  --color-secondary-dark-2: #262834;
  --color-secondary-dark-3: #21232e;
  --color-secondary-dark-4: #1c1e27;
  --color-secondary-dark-5: #181921;
  --color-secondary-dark-6: #13141a;
  --color-secondary-dark-7: #0e0f13;
  --color-secondary-dark-8: #090a0d;
  --color-secondary-dark-9: #050506;


  --box-shadow-1: box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;

  background-color: var(--color-grey);
}
